<div class="mine_head">
    <div class="mine_header">
        <p>个人中心</p>
    </div>
    <ul class="mine_login">
        <li><a href="">登录</a></li>
        <li><a href="">注册</a></li>
    </ul>

</div>
<div class="mine_comment">
    <div class="mine_indent">
        <a href="#">我的订单</a>
        <span>全部订单</span>

    </div>
    <ul class="mine_icon">
        <li><i class="fa fa-camera-retro fa-2x"></i><p>待付款</p></li>
        <li><i class="fa fa-caret-square-o-down fa-2x"></i><p>待发货</p></li>
        <li><i class="fa fa-caret-square-o-left fa-2x"></i><p>待收货</p></li>
        <li><i class="fa fa-mars fa-2x "></i><p>退款/售后</p></li>
    </ul>
    <ul class="mine_pri">
       <li><a href="">我的收藏</a><span class="fa fa-angle-right"></span></li>
        <li><a href="">我的优惠劵</a><span class=" fa fa-angle-right"></span></li>
        <li><a href="">我的拼图</a><span class=" fa fa-angle-right"></span></li>
    </ul>
    <ul class="mine_cus">
        <li><a href="">客服中心</a><span class=" fa fa-angle-right"></span></li>
        <li><a href="">关于卷皮</a><span class=" fa fa-angle-right"></span></li>
    </ul>
</div>
<div class="mine_footer">
    <ul>
        <li>返回首页</li>
        <li>客户端</li>
        <li>电脑版</li>
    </ul>
    <h4>copyright © 武汉奇米网络科技有限公司</h4>
</div>
