<div class="women">
    <div class="w_head">
        <ul class="w_headul">
            <li ng-repeat="item in mhead">
                <img src="{{item.pic}}" alt="">
            </li>
        </ul>
        <ul class="w_headul">
            <li ng-repeat="item in mhead2">
                <img src="{{item.pic}}" alt="">
            </li>
        </ul>


    </div>
    <ul class="new_product">
        <li ng-repeat="item in mhead3">
            <img src="{{item.pic}}" alt="">
        </li>
    </ul>
    <div class="wmain">
        <ul class="wskirt">
            <li ng-repeat="item in mhead4">
                <img src="{{item.pic}}" alt="">
            </li>
        </ul>
        <ul class="wskirt">
            <li ng-repeat="item in mhead5">
                <img src="{{item.pic}}" alt="">
            </li>
        </ul>
        <h3>
            -每天早10点-晚上8点上新-
        </h3>
        <ul class="new_main">
            <li ng-repeat="item in newmain">
                <img src="{{item.pic_url}}">

                <p>{{item.main_title}}</p>
                <h4><span>{{item.title}}</span><span></span><span class="new_right">{{item.residue}}</span></h4>
            </li>
        </ul>

    </div>

</div>